<a style="float:right" href="/sessions/<%= session[:user_id] %>" data-method="delete">Logout</a>

<div class="row">
 <h2>Secrets</h2>
 	<table class="table">
 		<tr>
 			<th>Secrets of the Day</th>
 			<th>Like/Dislike</th>
 		</tr>
 		<% @secrets.each do |secret| %>
 			<tr>
 				<td><%= secret.content %></a></td>
 				<td>
 					<% if secret.users.include?(@user) %>
 					<a href="/likes/<%= secret.id %>" data-method="delete">Unlike</a>
 					<% else %>
 					<a href="/likes/<%=secret.id%>" data-method="post">Like</a>
 					<% end %>
 					<%= secret.likes.count(:all)%>
 				</td>	
 			</tr>
 		<% end %>	
 	</table>
	
</div>

<a href="/users/">create secret</a>
